*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


com.example.dell.backgroundtimer(androidTest)


com.example.dell.backgroundtimer(test)